*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Provider/.idea/*
Server/.idea/*
Server/.idea/workspace.xml
Provider/Provider.iml
Server/.idea/workspace.xml
Provider/pom.xml
Provider/Provider.iml