*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

Provider/.idea/*
Server/.idea/*
Client/.idea/*

Provider/target/*
Server/target/*
Client/target/*

Provider/*.iml
Server/*.iml

